/* Import Source Sans Pro & Varela Round */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900|Varela+Round');

/* Style Tweaks */

.pronounciation {
    display: block;
    font-size: .9em;
    /*font-style: italic;*/
}

.last-name {
    font-size: 1.2em;
}

.works-filter a {
    color: #ffffff;
}

.social-block {
    left: 60px;
}

.logo-block {
    /*margin-left: 10px;*/
}

.services-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.services-list li {
    display: inline;
    font-size: .8em;
}

.availability {
    padding-bottom: 3px;
    border-bottom: #E0E0E0 solid 2px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.availability:hover {
    border-bottom: #999999 solid 2px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.avail-para {
    line-height: 30px;
}

.about {
    min-height: 170px;
}

.signature img {
    width: 15%;
    max-width: 185px;
}

.testimonial-block p {
    color: #e26969;
    font-size: .9em !important;
    font-weight: 500;
}

.testimonial-block h5 {
    color: #e49797;
}

ul.main-menu > li {
    background: #ecf0f1;
    padding: 3px 12px;

}

ul.main-menu > li.activelink {
    background: #bdc3c4;
    padding: 3px 12px;
}

/*.services-list a {
  padding: 10px;

}*/

/*.text-emphasis {
  background
}*/

/*.logo-block {*/
    /*transform: rotate(90deg);*/
/*}*/

.entry-meta li {
  display: inline;
}

/* FONTS */



html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  font-family: 'Varela Round', sans-serif;
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}
